<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="Images/ABOUT.png" alt="SD" class="img-fluid" title="srujan desai" style="height: 500px ; width: 660px">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h2>I Am A<span class="text_clr"> MERN Stack Developer, </span> IT Engineer. With solid foundation in 
                        Frontend and Backend technologies. Develop user centric web applications. Proeficient in HTML, CSS,
                         BOOTSTRAP, JAVASCRIPT, NODE.JS, EXPRESS, REACT, MONGODB.</h2>
                        {{!-- <a href="" target="_blank"><button>About Me</button></a> --}}
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>            

    <!-- footer code -->
    {{>footer}}

</body>

</html>